$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-tricorn-black: #2b2b2c;
$col-tricorn-black-rgb: hex-to-rgb($col-tricorn-black);

$col-blue-ribbon: #0066ff;
$col-blue-ribbon-rgb: hex-to-rgb($col-blue-ribbon);

$col-starfleet-blue: #0093fe;
$col-starfleet-blue-rgb: hex-to-rgb($col-starfleet-blue);

$col-icelandic-water: #0019ff;
$col-icelandic-water-rgb: hex-to-rgb($col-icelandic-water);

$col-red: #fe0000;
$col-red-rgb: hex-to-rgb($col-red);
